<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<!--Navigation-->

    <nav class="nav-list container">
        <div>
            <img src="/static/images/logo.png" alt="logo">
        </div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="food-tracker.html">Food Tracker</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="#" class="login-btn">Login</a></li>
             <li><a href="#" class="signup-btn">Sign Up</a></li>
        </ul>
    </nav>

<!-- Side-bar navigation -->
<nav class="side-bar-list container">
    <ul>
        <li><a href="premium.html">What's in Premium?</a></li>
        <li><a href="user-profile.html" >Profile</a></li>
        <li><a href="food-tracker.html">Food Tracker</a></li>
        <li><a href="dashboard.html" class="current">Dashboard</a></li>
    </ul>
</nav>

</body>
</html>