<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <link rel="stylesheet" href="/static/css/style.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
<!--Navigation-->

    <nav class="nav-list container">
        <div>
            <img src="/static/images/logo.png" alt="logo">
        </div>
        <ul>
            <li><a href="/ "class = "current">Home</a></li>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/calorie_counter">Calorie Counter</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login" >Login</a></li>
            <li><a href="/sign_up" >Sign Up</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>

<!-- Side-bar navigation -->
<nav class="side-bar-list container">
    <ul>
        <li><a href="/premium/">What's in Premium?</a></li>
        <li><a href="/profile/" class="current">Profile</a></li>
        <li><a href="/calorie_counter/">Calorie Counter</a></li>
        <li><a href="/dashboard/">Dashboard</a></li>
    </ul>
</nav>

<p>
    This is where the profile will be made.

    <div class="account-info">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
</div>

</p>

<footer>
    <div class="footer-container">
        <div class="footer-section">
            <img src="/static/images/footer-logo.png" alt="place holder image">
            <p class="slogan" >Eat, Track, Thrive!<br>Fuel Your Wellness Journey</p>
        </div>
        <div class="footer-section">
            <h3>Information</h3>
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/about_us">About Us</a></li>
                <li><a href="/contact_us">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Features</h3>
            <ul>
                <li><a href="/calorie_counter">Calorie Counter</a></li>
                <li>Daily Tracking</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Security</h3>
            <ul>
                <li><a href="/terms_of_service">Terms Of Service</a></li>
                <li><a href="/privacy_policy">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="social-media-section">
        <span class="social-media">
            <img src="/static/images/icons/instagram.svg" alt="instagram">
            <img src="/static/images/icons/x.svg" alt="x">
            <img src="/static/images/icons/facebook.svg" alt="facebook">
            <img src="/static/images/icons/linkedin.svg" alt="linkedin">
        </span>
        <p>Copyright &copy; 2024 Health Fuel Hub</p>
    </div>
</footer>

</body>
</html>